OPENAI_API_KEY=

QDRANT_URL=
QDRANT_API_KEY=

SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_KEY=
SUPABASE_DB_URL=postgresql://postgres.[PROJECT_ID]:[PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres

PYTHONUTF8=1
